{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
<a href="{% url 'product_add' %}">Добавить товар</a>
<li><a href="#">Категории</a>
    <ul class="dropdown">
        {% for cat in choices %}
        <li>
            <a href="{% url 'categories' cat.0%}">{{ cat.1 }}</a>
        </li>
        {% endfor %}
        </li>
    </ul>
    {% endblock %}
    {% block content %}

    <div class="container">
        <table>
            <tr>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена за единицу</th>
                <th>Сумма</th>
            </tr>
            {% for c in carts %}
            <tr>
                <td>{{ c.product.title }}</td>
                <td>{{ c.quantity }}</td>
                <td>{{ c.product.price }}</td>
                <td>{{ c.total_price }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>Итого: {{ carts.total_price_for_all }}</p>
    </div>
    {% endblock %}