{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
<a href="{% url 'product_add' %}">Добавить товар</a>
<li><a href="#">Категории</a>
    <ul class="dropdown">
        {% for cat in choices %}
        <li>
            <a href="{% url 'categories' cat.0%}">{{ cat.1 }}</a>
        </li>
        {% endfor %}
        </li>
    </ul>
    {% endblock %}
    {% block content %}

    <div class="container">
        <div class="row">
            <h1>Товары</h1>
            {% include 'partial/search.html' %}

            {% for product in products %}
            <div class="products">
                <div class="main-img">
                    <img src="{{ product.image }}" alt="">
                </div>
                <h4>{{ product.title }}</h4>
                <h4>Цена: {{ product.price }}</h4>
                <h4>Категория: {{ product.get_category_display }}</h4>
                <p>
                    <a href="{% url 'product_detail' product.pk %}">Подробнее...</a>
                </p>
            </div>
            {% endfor %}
            {% if is_paginated %}
            {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
    {% endblock %}