{% extends 'base.html' %}
{% block title %}Product confirm delete{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Вы точно хотите удалить товар ?</h1>
        <p>{{ products.title }}</p>
        <p>Описание: {{ product.description }}</p>
        <p>Категория: {{ product.get_category_display }}</p>
        <form action="{% url 'confirm_delete' product.pk %}" method="post">
            {% csrf_token %}
            <p><input class="btn btn-danger" type="submit" value="Удалить"></p>
            <p><a class="btn btn-secondary" href="{% url 'index' %}">Отменить</a></p>
        </form>
    </div>
</div>
{% endblock %}