{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block menu %}
<a href="{% url 'product_add' %}">Добавить товар</a>
<a href="{% url 'product_update' product.pk %}">Редактировать товар</a>
<a href="{% url 'product_delete' product.pk %}">Удалить товар</a>

{% endblock %}
{% block content %}

<div class="container">
    <div class="details">
        <div class="details-img">
            <img src="{{ product.image }}" alt="">
        </div>
        <div class="details-content">
            <h3>{{ product.title }}</h3>
            <h4>Категория: {{ product.get_category_display }}</h4>
            <h4>Остаток: {{ product.rest }}</h4>
            <h5>Цена: <span>{{ product.price }}$</span></h5>
            <p>Описание: {{ product.description }}</p>
            <p>добавлено {{ product.created_at }}</p>
        </div>
    </div>
</div>
{% endblock %}